.selector-for-some-widget {
    box-sizing: content-box;
}

body {
    background-color: #a3e4ff;
    background-image: url("https://million-wallpapers.ru/wallpapers/6/34/490010652699558/les-osenyu-cveta.jpg");
}

.container {
    background-color: rgba(255, 150, 150, 0.8);
    text-align: center;
    margin-top: 150px;
    border-radius: 15px;
}

.tasks-list {
    font-family: 'Bookman Old Style', sans-serif;
    border-radius: 15px;
}

li {
    background-color: rgba(255, 255, 255, 0.2);
    font-family: "Baskerville Old Face", sans-serif;
    font-style: italic;
    font-size: large;
    font-weight: bold;
}

.todo-post {
    margin-left: 160px;
    padding-top: 10px;
}

.todo-put {
    margin-right: 35px;
    padding-top: 10px;
    padding-bottom: 15px;
}

label {
    font-family: "Baskerville Old Face", sans-serif;
    font-weight: bold;
    font-size: large;
}

input {
    background-color: #e9c3c3;
    border-radius: 15px;
}

.btn-primary {
    font-family: "Baskerville Old Face", sans-serif;
    background-color: #d98080;
    border-radius: 15px;
    max-width: 100%;
    height: auto;
}
